<?xml version="1.0" ?>
<model>
  <name>entorno_emi</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>erwin</name>
    <email>codeempower00@gmail.com</email>
  </author>
  <description>
    Entorno 3D simplificado de la Escuela Militar de Ingeniería para simulación en Gazebo.
  </description>
</model>
